<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body ng-controller="myCtrl">

  <form>
    <div class="form-group">
      <label for="firstName">Name</label>
      <input type="text" id="firstName" ng-model="user.firstName" placeholder="Name">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" ng-model="user.email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" id="password" ng-model="user.password" placeholder="Password">
    </div>

    <div class="form-group">
      <label for="phone">Mobile</label>
      <input type="text" id="phone" ng-model="user.phone" placeholder="Mobile">
    </div>
  </form>

  <p>Phone number: {{ user.phone }}</p>

  <script>
    angular.module('myApp', [])
      .controller('myCtrl', function($scope) {
        $scope.user = {};
      });
  </script>
<!-- app.component.html -->
<div>
  <h3>Select Your Gender:</h3>

  <form #genderForm="ngForm">
    <label>
      <input type="radio" name="gender" value="Male" ngModel> Male
    </label><br>

    <label>
      <input type="radio" name="gender" value="Female" ngModel> Female
    </label><br>

    <label>
      <input type="radio" name="gender" value="Other" ngModel> Other
    </label><br>

    <button type="submit">Submit</button>
  </form>
</div>
<!-- app.component.html -->
<div>
  <h3>Select Your Hobbies:</h3>

  <form #myForm="ngForm">
    <label>
      <input type="checkbox" name="hobby1" ngModel> Dancing
    </label><br>

    <label>
      <input type="checkbox" name="hobby2" ngModel> Singing
    </label><br>

    <label>
      <input type="checkbox" name="hobby3" ngModel> Painting
    </label><br>

    <button type="submit">Submit</button>
  </form>
</div>

</body>
</html>
